hi <%= @name %><br/>
this is a local - <%= zzz %><br/>
<br/>
<a href="#" onclick="openws();">websocket!</a>
<br/>
<a href="#" onclick="emit();">emit!</a>

<script>
  var ws;
  function openws() {
    ws = new WebSocket('ws://<%= @host %>/ws');
    ws.onmessage = function(e) { console.log(e.data); };
    ws.onopen = function(e) {
      ws.send('hi');
    };
  }
  function emit() {
    $.post('/emit', {data: {"foo": "bar"}});
  }
</script>
