<!doctype html>
<html>
  <head>
    <title>example</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="test.js"></script>
    <link rel="stylesheet" type="text/css" href="test.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
