<!doctype html>
<html>
  <head>
    <title>example</title>
    <script src="/jquery-1.7.1.min.js"></script>
    <script src="test.js"></script>
    <link rel="stylesheet" type="text/css" href="test.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
